beautifulsoup4==4.11.1
cryptography==37.0.4
Flask==2.0.3
Flask_SQLAlchemy==2.5.1
numpy==1.23.3
pandas==1.4.1
pdfminer==20191125
requests==2.28.1
scikit_learn==1.2.0
selenium==4.7.2
spacy==3.5.0
SQLAlchemy==1.4.32
