<html>

<head>

  <meta charset="UTF-8">
  <title>EduKrishnaa</title>
  <link href="/static/assets/css/popup.css" rel="stylesheet">

</head>

<body>

  <div id="overlay" class="cover blur-in">
    <img src="/static/assets/img/aptitude_page_ss.jpeg" width="100%" height="100%">

</div>
<div class="row pop-up">
  <div class="box small-6 large-centered">
    <a href="/taketest-up" class="close-button">&#10006;</a>
    <em><h3>Welcome to Talent Assessment</h3></em>
    <em><p>ARE YOU READY?<br><br></em>
        TEST ASSESSMENT SECTION CONSISTS
        PERSONALITY TEST<br>
        TECHNICAL TEST
    <br><br>PROMINENT TEST RESULT WILL HELP YOUR FUTURE CAREER GUIDANCE</p>
    <a href="/test1-up" class="button">Continue</a>
  </div>
</div>
<script>

$(function() {
$('.pop-up').hide();
$('.pop-up').fadeIn(1000);
$('.close-button').click(function (e) {
$('.pop-up').fadeOut(700);
$('#overlay').removeClass('blur-in');
$('#overlay').addClass('blur-out');
e.stopPropagation();
});
});
</script>

</body>

</html>