/* body {
    margin-top: 100px !important;
  } */
  .testimonial {
    border-right: 4px solid #2a3d7d;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 90px 40px 40px 130px;
    margin: 0 15px 30px 15px;
    overflow: hidden;
    position: relative;
  }
  .testimonial:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: -17px;
    border-top: 25px solid #29d18b;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(45deg);
  }
  .testimonial:after {
    content: "";
    position: absolute;
    top: -4px;
    left: -17px;
    border-top: 25px solid #29d18b;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(135deg);
  }
  .testimonial .pic {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 20px;
  }
  .testimonial .pic img {
    width: 100%;
    height: auto;
  }
  .testimonial .description {
    font-size: 15px;
    letter-spacing: 1px;
    color: #6f6f6f;
    line-height: 15px;
    margin-bottom: 15px;
  }
  .testimonial .title {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #29d18b;
    margin: 0;
  }
  .testimonial .feed_desc{
    overflow-y: scroll;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #6f6f6f;
    line-height: 15px;
    margin-bottom: 15px;

  }
  .testimonial .post {
    display: inline-block;
    font-size: 17px;
    color: #29d18b;
    font-style: italic;
  }
  .owl-theme .owl-controls .owl-page span {
    border: 2px solid #2a3d7d;
    background: #fff !important;
    border-radius: 0 !important;
    opacity: 1;
  }
  .owl-theme .owl-controls .owl-page.active span,
  .owl-theme .owl-controls .owl-page:hover span {
    background: #29d18b !important;
    border-color: #29d18b;
  }
  @media only screen and (max-width: 767px) {
    .testimonial {
      padding: 20px;
      text-align: center;
    }
    .testimonial .pic {
      display: block;
      position: static;
      margin: 0 auto 15px;
    }
  }
  