.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin: 8px 1% 8px 5%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  align-items: center;
  /* box-shadow: -1px 2px 20px 1px #000; */
  /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
  box-shadow: rgb(0 0 0 / 28%) 0px -23px 25px 0px inset, rgb(0 0 0 / -26%) 0px -36px 30px 0px inset, rgb(0 0 0 / -17%) 0px -79px 40px 0px inset, rgb(0 0 0 / 6%) 0px 2px 1px, rgb(0 0 0 / 9%) 0px 4px 2px, rgb(0 0 0 / 9%) 0px 8px 4px, rgb(0 0 0 / 9%) 0px 16px 8px, rgb(0 0 0 / 9%) 0px 32px 16px;
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  /* box-shadow: -1px 2px 20px 1px #000; */
  transform: translateY(-4px);

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

@media only screen and (max-width: 600px) {
    .tab{
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
      height: 130px;
      width: 100%;
      display: flex;
      overflow-x: scroll;
    }
    .tab button{
      margin-top: 1px;
      margin-bottom: 1px;
      margin-left: 12px;
      margin-right: 12px;
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
      height: 85%;
    }    
  }