<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EduKrishnaa - Home</title>
  <meta content="Career Guidance System" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets//img/edugati_favicon-removebg-preview (1).png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets//vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets//vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets//vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../static/assets//vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets//vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets//vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets//css/data_analyst.css" rel="stylesheet">
  <link href="../static/assets//scss/intern.scss">  
  

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="../static/assets//img/edugati1-removebg-preview.png" alt="logo">
        <h1>EduKrishnaa<span>.</span></h1>
      </a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/myhome" >Home</a></li>
          <li><a href="#">Courses</a></li> 
          <li><a href="#">About</a></li>
          <li><a href="#contactus">Contact Us</a></li>
          <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="/static/assets/img/user.png">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold"><a href="/user-profile">Shreyas Ajgaonkar</a></span>
                  <span class="mb-0 text-sm  font-weight-bold"></span>
                </div>
              </div>	
            </a>
            </li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->

  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      
</div>
     <section class="single-page-header  header-section">
      <div class="container">
        <div class="row">
          <div class="row justify-content-center">
          <div class="col-md-12">
            <h1>
              <div>
               <div class="col-lg-11 text-center">
              <h2 data-aos="fade-down">DATA ANALYST</h2>
              <h3 data-aos="fade-down">"WITHOUT BIG DATA ANALYTICS COMPANIES ARE BIND AND DEAF, WANDERING OUT ONTP THE WEB LIKE DEER ON A FREEWAY."</h3>
              <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started"></a>
              </div>
              </div>
              </h1>
              </div>
              </div>
          </div>
        </div>    
      </div>
    </section>

    <!-- <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">DATA ANALYST</h2>
            <h3 data-aos="fade-down">"WITHOUT BIG DATA ANALYTICS COMPANIES ARE BIND AND DEAF, WANDERING OUT ONTP THE WEB LIKE DEER ON A FREEWAY."</h3>
            <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">EXPLORE MORE !</a>
          </div>
        </div>
      </div>
    </div>

    <!-- <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(assets/img/hero/carsoul_new4.jpg)"></div>
      <div class="carousel-item" style="background-image: url(assets/img/hero/carsoul_new2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(assets/img/hero/carsoul_new3.jpg)"></div>
      <div class="carousel-item" style="background-image: url(assets/img/hero/carsoul_new4.jpg)"></div>
      <div class="carousel-item" style="background-image: url(assets/img/hero/carsoul_new5.jpg)"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div> -->

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-left">
      <div class="container position-relative d-flex flex-column align-items-left" data-aos="fade">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li><a href="index.html">Quizzie</a></li>
          <li><a href="index.html">Personality Test</a></li>
          <li><a href="index.html">Aptitude Test</a></li>
          <li><a href="index.html">Result Test</a></li>
          <li>Data Analyst</li>
        </ol>
      </div>
    </div>
<!--End Breadcrumbs -->
    <!-- ======= what is Data Analytics Section ======= -->
    <section id="get-started" class="get-started explore-section-bg">
      <div class="container">
        <div class="row justify-content-between gy-4">

          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up" styles="color=">
            <div class="content">
              <h3>Explore what is Data Analytics?</h3>
              <p>Our growing technology firm is looking for an experienced Data Analyst who is able to turn project requirements into custom-formatted data reports. The ideal candidate for this position is able to do complete life cycle data generation and outline critical information for each Project Manager. We also need someone who is able to analyze business procedures and recommend specific types of data that can be used to improve upon them.</p>
              <P> TAKE AN EXAMPLE: HOW DATA ANALYST HELPS BANKCARD ANALYTICS COMPANY TO MANAGE THEIR INSIGHTS </P>
            </div>
          </div>

          <div class="col-lg-5" data-aos="fade">
            <video width="600" controls>
              <source src="./../static/assets//img/Business Data Analytics Whiteboard Animation.mp4" type="video/mp4">
            </video>
          </div>

        </div> 
      </div>
    </section>
    <!-- End Get Started Section -->

       <!-- ======= Get Started Section ======= -->
       <section id="get-started" class="get-started section-bg">
            <div class="center">
              <H2>ROADMAP OF DATA ANALYST</H2>
            </div>
            <div class="timeline" data-aos="fade-up">
            <div class="container1 left">
              <div class="content" class="center">
                <h4>DATA ANALYST</h4>
                <p><h5>Skills Required: </h5>Python, R Langauge, Tableau, Data Modeling.</p>
                <p><h5>Average Income: </h5>6-7 Lakhs p.a</p>
              </div>
            </div>
            <div class="container1 right" data-aos="fade-up">
              <div class="content">
                <h4>ASSOOCIATE DATA ANALYST</h4>
                <p><h5>Skills Required: </h5>Python, R Langauge, Tableau, Data Modeling, Project Experience</p>
                <p><h5>Average Income: </h5>11 Lakhs p.a</p></div>
            </div>
            <div class="container1 left" data-aos="fade-up">
              <div class="content">
                <h4>SENIOR DATA ANALYST</h4>
                <p><h5>Skills Required: </h5>Python, R Langauge, Tableau, Data Modeling, Data Visualization, Project Experience</p>
                <p><h5>Average Income: </h5>13Lakhs p.a</p></div>
            </div>
            <div class="container1 right"data-aos="fade-up">
              <div class="content">
                <h4>PRODUCT MANAGER</h4>
                <p><h5>Skills Required: </h5>Python, R Langauge, Tableau, Data Modeling,  Data Visualization, Project Experience, Management Skills</p>
                <p><h5>Average Income: </h5>15 Lakhs p.a</p> </div>
            </div>
            <div class="container1 left" data-aos="fade-up">
              <div class="content">
                <h4>LEAD DATA ANALYST</h4>
                <p><h5>Skills Required: </h5>Python, R Langauge, Tableau, Data Modeling, Data Visualization, Project Experience, Management Skills,Cloud Computing</p>
                <p><h5>Average Income: </h5>20 Lakhs p.a</p> </div>
            </div>
            <div class="container1 right" data-aos="fade-up">
              <div class="content">
                <h4>DIRECTOR/VP/SVP</h4>
                <p><h5>Skills Required: </h5>Python, R Langauge, Tableau, Data Modeling, Data Visualization, Project Experience, Management Skills,Cloud Computing, Product Vision</p>
                <p><h5>Average Income: </h5>40+ Lakhs p.a</p></div>
            </div>
          </div>
      </section>
      <!-- End Get Started Section -->

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="get-started explore-section-bg">
      <div class="container"> 

        <div class="row justify-content-between gy-4">

          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
            <div class="content">
              
            </div>
          </div> 

        <div class="col-lg-5" data-aos="fade">
            <img src="assets/img/stats.jpg"/>
          </div> 
          <!-- End Quote Form -->
        </div>
      </div>
    </section>

    <!-- End Get Started Section -->

    <section id="recommend" class="jobs-section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Job recommendations</h2>
          <p>CareerGuide brings to you scientific and meticulously designed. Our recommend to discover your true potential and interest ,learning styles and skills .</p>
        </div>
    <div class="cards-wrapper">
      <div class="card" style="background-color: #A5C9CA;">
        <div class="col-lg-3 d-flex align-items-center" >
          <div class="a-box">
            <div class="img-container">
              <div class="img-inner">
                <div class="inner-skew">
                  <img src="/static/assets/img/results/data-admin.png">
                </div>
              </div>
            </div>
            <div class="text-container-job">
              <a href="/data-analyst"><h3>Resident Medical Officer</h3></a>
              <div>
<pre>
Role: Medical Officer
Industry Type: Medical Services / Hospital
Functional Area: Healthcare & Life Sciences
Employment Type: Full Time, Permanent
Role Category: Doctor
</pre>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" style="background-color: #A5C9CA;">
        <div class="col-lg-3 d-flex align-items-center" >
          <div class="a-box">
            <div class="img-container">
              <div class="img-inner">
                <div class="inner-skew">
                  <img src="/static/assets/img/results/data-admin.png">
                </div>
              </div>
            </div>
            <div class="text-container-job">
              <a href="/data-analyst"><h3>Nutrition Officer</h3></a>
              <div>
<pre>
Role: Medical Representative (MR)
Industry Type: FMCG
Functional Area: Marketing & Communication
Employment Type: Full Time, Permanent
Role Category: Marketing
</pre>                    
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" style="background-color: #A5C9CA;">
        <div class="col-lg-3 d-flex align-items-center" >
          <div class="a-box">
            <div class="img-container">
              <div class="img-inner">
                <div class="inner-skew">
                  <img src="/static/assets/img/results/data-admin.png">
                </div>
              </div>
            </div>
            <div class="text-container-job">
              <a href="/data-analyst"><h3>Emergency Medical Officer</h3></a>
              <div>
<pre>
Role: Medical Officer
Industry Type: Medical Services / Hospital
Functional Area: Healthcare & Life Sciences
Employment Type: Full Time, Permanent
Role Category: Doctor  
</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End jobs Section -->

    
    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
      <div class="container" data-aos="fade-up">    
      <div class=" section-header">
        <h2>Trending Courses for Data Analyst</h2>
        <p>Explore the deep of Data Analyst by choosing some Trending Courses.</p>
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="../static/assets//img/blog/blog-1.jpg" class="img-fluid" alt="">
              <span class="post-date">June 01</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Introduction to Data Analytics Course</h3>

              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">Peter Parker</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i> <span class="ps-2">Tableau Training</span>
                </div>
              </div>

              <hr>

              <a href="https://www.simplilearn.com/ice9/pdfs/agenda/masters-program/Data_analyst_masters.pdf" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="../static/assets//img/blog/blog-2.jpg" class="img-fluid" alt="">
              <span class="post-date">September 21</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Learn R Language</h3>

              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">Jack Ryan</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i> <span class="ps-2">Analyze data with Python</span>
                </div>
              </div>

              <hr>

              <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6">
          <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

            <div class="post-img position-relative overflow-hidden">
              <img src="../static/assets//img/blog/blog-3.jpg" class="img-fluid" alt="">
              <span class="post-date">February 16</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Microsoft Excel Data Analysis</h3>

              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">Neil Armstrong</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i> <span class="ps-2">Learn How The Experts Use It?</span>
                </div>
              </div>

              <hr>

              <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

      </div>

      </div>
    </section>
    <!-- End Recent Blog Posts Section -->

        <!-- ======= Recent Blog Posts Section ======= -->
        
    <!-- End Recent Blog Posts Section -->



  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  
    <footer id="footer" class="footer">

      <div class="footer-content position-relative">


        <div class="container">
          <div class="row">

            <div class="col-lg-4 col-md-6">
              <div class="footer-info">
                <h3>EduKrishnaa<span>.</span></h3>
                <p>
                  Navi Mumbai<br><br>
                  <strong>Email:</strong> info@something.com<br>
                </p>
                <div class="social-links d-flex mt-3">
                  <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div><!-- End footer info column-->

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Class 10</h4>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Terms of service</a></li>
                <li><a href="#">Privacy policy</a></li>
              </ul>
            </div><!-- End footer links column-->

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>CLass 11-12</h4>
              <ul>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Product Management</a></li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Graphic Design</a></li>
              </ul>
            </div><!-- End footer links column-->

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>UG/PG</h4>
              <ul>
                <li><a href="#">Molestiae accusamus iure</a></li>
                <li><a href="#">Excepturi dignissimos</a></li>
                <li><a href="#">Suscipit distinctio</a></li>
                <li><a href="#">Dilecta</a></li>
                <li><a href="#">Sit quas consectetur</a></li>
              </ul>
            </div><!-- End footer links column-->
            <!-- <div class="col-lg-2 col-md-3">
              <a href="/login">
                <button type="submit" class="footer_button ">Login  </button>
              </a>
              <br>
              <br>
              <a href="/registration">
                <button type="submit" class="footer_button">Signup</button>
              </a>
            </div>End footer links column -->
          </div>
        </div>
      </div>

      <div class="footer-legal text-center position-relative">
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>EduKrishnaa  </span></strong>. All Rights Reserved
          </div>
        </div>
      </div>
    </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/assets//vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets//vendor/aos/aos.js"></script>
  <script src="../static/assets//vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets//vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets//vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets//vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets//vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets//js/main.js">  </script>
  <script src="../static/assets//js/script.js"></script>

  <script>
tabJs = (navContainer, navItems, navTabs, contentTab, contains) =>{
  
  let tabs = Array.prototype.slice.apply(document.querySelectorAll(navTabs));
  let items = Array.prototype.slice.apply(document.querySelectorAll(navItems));
  let panels = Array.prototype.slice.apply(document.querySelectorAll(contentTab));
  
  document.getElementById(navContainer).addEventListener('click', e => {
    if(e.target.classList.contains(contains)){
      let i = tabs.indexOf(e.target)
      tabs.map(tab => tab.classList.remove('active'))
      tabs[i].classList.add('active')
      items.map(item => item.classList.remove('gds-nav-tabs__list-item--active'))
      items[i].classList.add('gds-nav-tabs__list-item--active')
      panels.map(tab => tab.classList.remove('active'))
      panels[i].classList.add('active')
    }
  }) 
}

tabJs('tabContainer', '.gds-nav-tabs__list-item ', '.itm', '.tabs', 'itm');

  </script>

</body>

</html>