  <!DOCTYPE html>
  <html>

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>EduKrishnaa - Result</title>
    <meta content="Career Guidance System" name="edukrishnaa">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets/img/logo_without_name.png" rel="icon">
    <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/resultpage.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/main.css">



    

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    
    <!-- Pie chart JS -->
    <script src="../static/assets/js/result.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/myhome" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img src="../static/assets/img/logo_without_name.png" alt="logo">
          <h1>EduKrishnaa<span>.</span></h1>
        </a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/myhome" >Home</a></li>
            <li><a href="/404">Courses</a></li> 
            <li><a href="#">About</a></li>
            <li><a href="#contactus">Contact Us</a></li>
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                      <span class="avatar avatar-sm rounded-circle">
                      <img href="/user-profile" alt="Image placeholder" src="/static/assets/img/user.png">
                      </span>
              </div>
            </a>
            </li>
            <li>
              <!-- <div id="google_translate_element"></div> 

              <script type="text/javascript">
                function googleTranslateElementInit() { 
                    new google.translate.TranslateElement(
                        {pageLanguage: 'en'}, 
                        'google_translate_element'
                    ); 
                } 
            </script> 
              
            <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
            </script> -->
            </li> 
          </ul>
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->
    <section class="single-page-header">
      <div class="container">
        <div class="row justify-content-center" style="margin-top: 6%;">
          <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <h2><span>View your results</h2>
                <h6>These are your results based on your responses in the previous tests</h6>
            </div>
        </div>
        </div>
      </div>
    </section>

    <main id="main">
      <div class="class1">
        <div id="google_translate_element"></div> 

        <script type="text/javascript">
          function googleTranslateElementInit() 
          { 
              new google.translate.TranslateElement(
                {pageLanguage: 'en'}, 
                  'google_translate_element'
              ); 
          } 
        </script>
        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
        </script>
      </div>

      <!-- ===== Get Started Section ======= -->
      <section id="get-started" class="get-started explore-section-bg">
        <div class="container" data-aos="fade-up">

          <div class="row">
            <div class="col-lg-6">
              <div>
                <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
              </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <h3>Skillset Test</h3>
              <p class="">
              You excel in work environments where you are given the authority to operate within a schedule and clearly define your project goals.
              </p>
              <ul>
                <li><i class="bx bx-check-double"></i> The secret in choosing the RIGHT career path is to correctly assess ones' Aptitudes and Personality and then pick
                  the careers accordingly.</li>
                <li><i class="bx bx-check-double"></i> You now know that how your Aptitude and Personality Profile is matching with the three
                  career Interests that you marked at the time of Assessment</li>
                <li><i class="bx bx-check-double"></i> It is perfectly OK if some or all of your career Interests are not matching very well with your Aptitude and Personality.</li>
              </ul>
            </div>
          </div>

        </div>
      </section>
      <!-- End Get Started Section -->


      
        <!-- ======= Get Started Section ======= -->
        <section id="get-started" class="get-started section-bg" data-aos="fade-up">
          <div class="container">

            <div class="row">
              <div class="col-lg-6 pt-4 pt-lg-0">
                <h3>Personality Test</h3>
                <p class="">
                  <center><h4><em><b>Shreyas is an Artistic Person.</b></em></h4></center>
                </p>
                <img src="/static/assets/img/artistic2.png" width="250px" height=""/>
                <img src="/static/assets/img/artistic4.png" width="250px" height=""/>
                <ul>
                  <li><i class="bx bx-check-double"></i>  This means that you enjoy being in the outdoors and appreciate various aspects of Mother Nature.</li>
                  <li><i class="bx bx-check-double"></i> You have a natural ability for mobilizing people.  Another one of your strengths is organizing and developing procedures and regulations.</li>
                  <li><i class="bx bx-check-double"></i> You prefer a structure that keeps things running smoothly. You have greater respect for the chain of command.  You have a higher commitment to being productive and accountable. </li>
                </ul>
                <p>
                  When you are working in a career that fulfills your work personality, you prefer to be punctual and set your own routine.
                </p>
              </div>
              <div class="col-lg-6">
                <div>
                  <div>                  
                    <p>Logical - Mathematical</p>
                    <div class="container1">
                      <div class="skills html">90%</div>
                    </div>
                    
                    <p>Spatial-Visualization</p>
                    <div class="container1">
                      <div class="skills css">80%</div>
                    </div>
                    
                    <p>Naturalist</p>
                    <div class="container1">
                      <div class="skills js">65%</div>
                    </div>
                    
                    <p>Others</p>
                    <div class="container1">
                      <div class="skills php">30%</div>
                    </div>  
                  </div>
                </div>
              </div>
                </div>
              </div>
            </div>
    
          </div>
        </section>
        <!-- End Get Started Section -->


      <!-- ======= recommend Section ======= -->
      <section id="recommend" class="explore-section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Recommended career</h2>
            <p>EduKrishnaa brings to you scientific and meticulously designed. We feel you may enjoy these Career options to peruse ahead! .</p>
          </div>
          <div class="row justify-content-center body1">
            <!-- section start -->
            <div class="col-lg-3 d-flex align-items-center" >
              <div class="a-box">
                <div class="img-container">
                  <div class="img-inner">
                    <div class="inner-skew">
                      <img src="/static/assets/img/datascientist.jpg">
                    </div>
                  </div>
                </div>
                <div class="text-container">
                  <a href="/data-science-up"><h3>Data Scientist</h3></a>
                  <div>
                    Your responsibility as a Data Scientist (DS) will be the performance, integrity and security of a database. You'll be involved in the planning and development of the database, as well as in troubleshooting any issues on behalf of the users.
                </div>
                </div>
              </div>
            </div>

            <!-- section start -->
            <div class="col-lg-3  d-flex align-items-center" >
              <div class="a-box">
                <div class="img-container">
                  <div class="img-inner">
                    <div class="inner-skew">
                      <img src="/static/assets/img/dataanalyst.jpg">
                    </div>
                  </div>
                </div>
                <div class="text-container">
                  <a href="/data-analyst"><h3>Data Analyst</h3></a>
                  <div>
                    The Database Analyst will maintain data storage; assess database design; and gather, organize, and interpret statistical information based on the data in the database.                </div>
                </div>
              </div>
            </div>

            <!-- section start -->
            <div class="col-lg-3  d-flex align-items-center" >
              <div class="a-box">
                <div class="img-container">
                  <div class="img-inner">
                    <div class="inner-skew">
                      <img src="/static/assets/img/dataengineer.jpg">
                    </div>
                  </div>
                </div>
                <div class="text-container">
                    <a href="/data-analyst"><h3>Data Engineer</h3></a>
                  <div>
                      A data engineer is an IT worker whose primary job is to prepare data for analytical or operational uses. These software engineers are typically responsible for building data pipelines to bring together information from different source systems.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End recommend Section -->

      
    </main><!-- End #main -->
    
      <!-- strength and weakness section -->
      <section id="recomend" class="explore-section-bg">
        <div class="container">
          <div class="section-header">
            <h2>Skills and Abilities</h2>
            <p>EduKrishnaa brings to you Classified and Conventional designed. Our College recommendation System to acknowledge your true potential and interest with Higher rank Universities .</p>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm">
              <ul>
                <div style="padding-bottom: 50px;"><h2 class="hover-underline-animation" ><li>Naturalist</li></h2><br></div>
                <div style="padding-bottom: 50px;"><h2 class="hover-underline-animation" ><li>Logical</li></h2><br></div>
                <div style="padding-bottom: 50px;"><h2 class="hover-underline-animation" ><li>Spatial</li></h2><br></div>
              </ul>
            </div>
            <div class="col-sm">
              <img src="/static/assets/img/strength_weakness.png">
            </div>
            <div class="col-sm" style="align-content: flex-end;">
              <ul dir="rtl" style="direction:rtl; list-style-image:url(http://australianetwork.com/img/icon_arrow_left_black.png);">
                  <div style="padding-bottom: 50px;"><h2 class="hover-underline-animation" ><li>Intrapersonal</li></h2></div>
                  <div style="padding-bottom: 50px;"><h2 class="hover-underline-animation" ><li>Musical</li></h2></div>
                  <div style="padding-bottom: 50px;"><h2 class="hover-underline-animation" ><li>Interpersonal</li></h2></div>
              </ul>
            </div>
          </div>
        </div>      
      </section>




    <!-- ======= Footer ======= -->
      <footer id="footer" class="footer">

        <div class="footer-content position-relative">


          <div class="container">
            <div class="row">

              <div class="col-lg-4 col-md-6">
                <div class="footer-info">
                  <h3>EduKrishnaa<span>.</span></h3>
                  <p>
                    Navi Mumbai<br><br>
                    <strong>Email:</strong> info@something.com<br>
                  </p>
                  <div class="social-links d-flex mt-3">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div><!-- End footer info column-->

              <div class="col-lg-2 col-md-3 footer-links">
                <h4>Class 10</h4>
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Terms of service</a></li>
                  <li><a href="#">Privacy policy</a></li>
                </ul>
              </div><!-- End footer links column-->

              <div class="col-lg-2 col-md-3 footer-links">
                <h4>CLass 11-12</h4>
                <ul>
                  <li><a href="#">Web Design</a></li>
                  <li><a href="#">Web Development</a></li>
                  <li><a href="#">Product Management</a></li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Graphic Design</a></li>
                </ul>
              </div><!-- End footer links column-->

              <div class="col-lg-2 col-md-3 footer-links">
                <h4>UG/PG</h4>
                <ul>
                  <li><a href="#">Molestiae accusamus iure</a></li>
                  <li><a href="#">Excepturi dignissimos</a></li>
                  <li><a href="#">Suscipit distinctio</a></li>
                  <li><a href="#">Dilecta</a></li>
                  <li><a href="#">Sit quas consectetur</a></li>
                </ul>
              </div><!-- End footer links column-->
              <!-- <div class="col-lg-2 col-md-3">
                <a href="/login">
                  <button type="submit" class="footer_button ">Login  </button>
                </a>
                <br>
                <br>
                <a href="/registration">
                  <button type="submit" class="footer_button">Signup</button>
                </a>
              </div>End footer links column -->
            </div>
          </div>
        </div>

        <div class="footer-legal text-center position-relative">
          <div class="container">
            <div class="copyright">
              &copy; Copyright <strong><span>EduKrishnaa  </span></strong>. All Rights Reserved
            </div>
          </div>
        </div>
      </footer>
    <!-- End Footer -->
    
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/aos/aos.js"></script>
    <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>

    <script>
      $(document).ready(function() {
          var ctx = $("#chart-line");
          var myLineChart = new Chart(ctx, {
              type: 'pie',
              data: {
                  labels: ["Communication", "Judgement", "Analytical", "Research", "Creativity"],
                  datasets: [{
                      data: [1200, 1700, 800, 200, 100],
                      backgroundColor: ["rgba(255, 0, 0, 0.5)", "rgba(100, 255, 0, 0.5)", "rgba(200, 50, 255, 0.5)", "rgba(0, 100, 255, 0.5)"]
                  }]
              },
              options: {
                  title: {
                      display: true,
                      text: 'Skillset'
                  }
              }
          });
      });

      $(document).ready(function() {
          var ctx = $("#chart-line2");
          var myLineChart = new Chart(ctx, {
              type: 'pie',
              data: {
                  labels: ["Realistic", "Investigation", "Artistic", "Social", "Enterprising", "Conventional"],
                  datasets: [{
                      data: [200,50,150,100,150,50],
                      backgroundColor: ["rgba(255, 0, 0, 0.5)", "rgba(100, 255, 0, 0.5)", "rgba(200, 50, 255, 0.5)", "rgba(0, 100, 255, 0.5)", "rgba(205, 227, 7, 0.5)"]
                  }]
              },
              options: {
                  title: {
                      display: true,
                      text: 'Personality'
                  }
              }
          });
      });
  </script>
  <script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    </script>
    
  </body>

  </html>