<html>

<head>
  <title>Profile</title>
  <meta content="Career Guidance System" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/edugati_favicon-removebg-preview (1).png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="/../static/assets/css/user_profile.css" rel="stylesheet">
  <link href="/static/assets/css/profile_survey.css" rel="stylesheet">


  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>


  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->


  <!-- <link href="/../static/assets/css/main.css" rel="stylesheet"> -->
</head>

<body>
  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h1 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/myhome"
          target="_blank">EduKrishnaa.</a>
        <!-- Form -->
        <!-- <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
      <div class="form-group mb-0">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" placeholder="Search" type="text">
        </div>
      </div>
    </form> -->

        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li><a href="/myhome" class="active">Home</a></li>&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;
          <li><a href="/#get-started">Take Test</a></li>&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="/../static/assets/img/{{getinfo.img}}">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold" style="text-transform:uppercase">{{getinfo.uname}}</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
      style="min-height: 600px; background-image: url(/../static/assets/img/apple-touch-icon.png); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white captialize">Hello {{getinfo.fname}} !</h1>
            <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your
              work and manage your projects or assigned tasks</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="/../static/assets/img/{{getinfo.img}}" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <!-- <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                    <a href="#" class="btn btn-sm btn-default float-right">Message</a> -->
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <!-- <div>
                        <span class="heading">22</span>
                        <span class="description">Friends</span>
                        </div> -->
                    <!-- <div>
                        <span class="heading">10</span>
                        <span class="description">Photos</span>
                        </div> -->
                    <!-- <div>
                        <span class="heading">89</span>
                        <span class="description">Comments</span>
                        </div> -->
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3 class="captialize">
                  {{getinfo.fname}} {{getinfo.lname}}<span class="font-weight-light">, {{getinfo.age}} </span>
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>{{getinfo.city}}, {{getinfo.state}}
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>{{getinfo.quali}}
                </div>
                <hr class="my-4">
                <p><span style="text-transform:uppercase"></span>

              </div>
            </div>
          </div>
          <br>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <p>
                <a href="/user_profile" class="btn btn-info">Edit Profile</a>
              </p>
              <p>
                <a href="/resume_1" class="btn1 btn-info">Your Resume</a>
              </p>
              <p>
                <a href="/jobopenings" class="btn1 btn-info">Job Openings</a>
              </p>
              <a href="/logout" class="btn2 btn-info">Logout</a>
            </div>


            <div>
              <div class="container">
                <div class="wrapper">
                  <div class="master">
                    <h1>Review and Rating</h1>
                    <h2>How was your experience about our website and result?</h2>

                    <div class="rating-component">
                      <div class="status-msg">
                        <label>
                          <input class="rating_msg" type="hidden" name="rating_msg" value="" />
                        </label>
                      </div>
                      <div class="stars-box">
                        <i class="star fa fa-star" title="1 star" data-message="Poor" data-value="1"></i>
                        <i class="star fa fa-star" title="2 stars" data-message="Bad" data-value="2"></i>
                        <i class="star fa fa-star" title="3 stars" data-message="Average" data-value="3"></i>
                        <i class="star fa fa-star" title="4 stars" data-message="Nice" data-value="4"></i>
                        <i class="star fa fa-star" title="5 stars" data-message="Very Good " data-value="5"></i>
                      </div>
                      <div class="starrate">
                        <label>
                          <input class="ratevalue" type="hidden" name="rate_value" value="" />
                        </label>
                      </div>
                    </div>
                    <form class="form1" id="form1" name="form1" method="POST" action="/add_feed">
                      <div class="feedback-tags">
                        <div class="tags-container" data-tag-set="1">
                          <div class="question-tag">
                            Why was your experience so bad?
                          </div>
                        </div>
                        <div class="tags-container" data-tag-set="2">
                          <div class="question-tag">
                            Why was your experience so bad?
                          </div>

                        </div>

                        <div class="tags-container" data-tag-set="3">
                          <div class="question-tag">
                            Why was your rating experience average?
                          </div>
                        </div>
                        <div class="tags-container" data-tag-set="4">
                          <div class="question-tag">
                            Why was your experience good?
                          </div>
                        </div>

                        <div class="tags-container" data-tag-set="5">
                          <div class="make-compliment">
                            <div class="compliment-container">
                              Give a compliment
                              <i class="far fa-smile-wink"></i>
                            </div>
                          </div>
                        </div>

                        <div class="tags-box">
                          <!-- <input type="text" class="tag form-control" name="comment" id="inlineFormInputName"
                                    placeholder="please enter your review"> -->
                          <textarea style="color: rgb(30, 0, 255);" class="tag form-control" name="review_text"
                            id="inlineFormInputName" rows="5" cols="60" placeholder="please enter your review">
                                      </textarea>

                          <input type="hidden" name="product_id" />
                        </div>

                      </div>

                      <div class="button-box">
                        <input type="submit" class="done" disabled="disabled" value="Add review" />
                      </div>
                    </form>

                    <div class="placeholder=" please enter your review"">
                      <div class="loader"></div>
                      <div class="success-message">
                        Thank you!
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>





          </div>

        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Update Profile</h3>
                </div>
                <div class="col-4 text-right">
                </div>
              </div>
            </div>
            <!-- Form starts -->
            <div class="card-body">
              <form action="/update" method="post" enctype="multipart/form-data">
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Upload Your Photo</label>
                        <input type="file" id="file" class="form-control form-control-alternative" name="file" value="">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input type="email" name="update_email" id="input-email"
                          class="form-control form-control-alternative" placeholder="Email Address">
                      </div>
                    </div>
                  </div>

                  <hr class="my-4">
                  <!-- Address -->
                  <h6 class="heading-small text-muted mb-4">Contact information</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-address">Address</label>
                          <input id="input-address" name="update_address" class="form-control form-control-alternative"
                            placeholder="Home Address" value="" type="text">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-city">City</label>
                          <input type="text" name="update_city" id="input-city"
                            class="form-control form-control-alternative" placeholder="City" value="">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-country">State</label>
                          <input type="text" name="update_state" class="form-control form-control-alternative"
                            placeholder="State">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label" for="">Phone Number</label>
                          <input type="number" name="update_phone" id="" class="form-control form-control-alternative"
                            placeholder="Phone Number">
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4">
                  <!-- Address -->
                  <h6 class="heading-small text-muted mb-4">Education Details</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-address">College Name</label>
                          <input id="input-address" name="update_college_name"
                            class="form-control form-control-alternative" placeholder="Name of the College" value=""
                            type="text">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-city">Previous Marksheet</label>
                          <input type="file" id="input-city" name="certificate"
                            class="form-control form-control-alternative" placeholder="City" value="">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-country">Year of Graduation</label>
                          <input type="date" name="graduation_year" class="form-control form-control-alternative">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label" for="">Cureent Branch</label>
                          <input type="text" id="" name="course" class="form-control form-control-alternative"
                            placeholder="Branch name. ex. IT">
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4">
                  <!-- Description -->
                  <h6 class="heading-small text-muted mb-4"></h6>
                  <!-- <div class="pl-lg-4"> -->
                  <div class="form-group focused">
                    <input type="submit" class="button"></input>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
<script>
  $(".rating-component .star").on("mouseover", function () {
    var onStar = parseInt($(this).data("value"), 10); //
    $(this).parent().children("i.star").each(function (e) {
      if (e < onStar) {
        $(this).addClass("hover");
      } else {
        $(this).removeClass("hover");
      }
    });
  }).on("mouseout", function () {
    $(this).parent().children("i.star").each(function (e) {
      $(this).removeClass("hover");
    });
  });

  $(".rating-component .stars-box .star").on("click", function () {
    var onStar = parseInt($(this).data("value"), 10);
    var stars = $(this).parent().children("i.star");
    var ratingMessage = $(this).data("message");

    var msg = "";
    if (onStar > 1) {
      msg = onStar;
    } else {
      msg = onStar;
    }
    $('.rating-component .starrate .ratevalue').val(msg);



    $(".fa-smile-wink").show();

    $(".button-box .done").show();

    if (onStar === 5) {
      $(".button-box .done").removeAttr("disabled");
    } else {
      $(".button-box .done").attr("disabled", "true");
    }

    for (i = 0; i < stars.length; i++) {
      $(stars[i]).removeClass("selected");
    }

    for (i = 0; i < onStar; i++) {
      $(stars[i]).addClass("selected");
    }

    $(".status-msg .rating_msg").val(ratingMessage);
    $(".status-msg").html(ratingMessage);
    $("[data-tag-set]").hide();
    $("[data-tag-set=" + onStar + "]").show();
  });

  $(".feedback-tags  ").on("click", function () {
    var choosedTagsLength = $(this).parent("div.tags-box").find("input").length;
    choosedTagsLength = choosedTagsLength + 1;

    if ($(this).hasClass("choosed")) {
      $(this).removeClass("choosed");
      choosedTagsLength = choosedTagsLength - 2;
    } else {
      $(this).addClass("choosed");
      $(".button-box .done").removeAttr("disabled");
    }

    console.log(choosedTagsLength);

    if (choosedTagsLength <= 0) {
      $(".button-box .done").attr("enabled", "false");
    }
  });



  $(".compliment-container .fa-smile-wink").on("click", function () {
    $(this).fadeOut("slow", function () {
      $(".list-of-compliment").fadeIn();
    });
  });



  $(".done").on("click", function () {
    $(".rating-component").hide();
    $(".feedback-tags").hide();
    $(".button-box").hide();
    $(".submited-box").show();
    $(".submited-box .loader").show();

    setTimeout(function () {
      $(".submited-box .loader").hide();
      $(".submited-box .success-message").show();
    }, 1500);
  });

</script>


</html>